package-lock.json

# OSX
#
.DS_Store

# node.js
#
**node_modules**
npm-debug.log
yarn-error.log

dist
.vscode/
.history/
coverage

.idea/

**.env**

**pods**
example/app/ios/build/
example/app/android/build
example/app/android/app/build
example/app/android/.gradle
!/src/lib/p-queue/dist/
