############
# Node
############
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

## Other
.github/
docs/
example/
src/
.prettierrc
babel.config.js
CHANGELOG.md
README.md
tsconfig.json
.gitattributes
.gitignore
.eslintrc
